html{
    scroll-behavior: smooth;
}
body{
    background-color: lightblue;
}
p{
    font-family: 'Zen Antique soft', serif;
}
h1{
    font-family: 'Oswald', sans-serif;
}
h4{
    font-family: 'Zen Antique Soft', serif;
}
a{
    font-family: 'Oswald', sans-serif;
}
.Home{
    margin-top: 50px;
}